* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* 顶部导航栏 */
.box1 {
    width: 100%;
    height: 70px;
    padding: 5px;
    box-shadow: 0 0 5px #cecfcf inset;
    box-sizing: border-box;
}

.item11 {
    width: 1200px;
    margin: auto;
    /* background-color: #80c269; */
}

.item12 {
    display: inline-block;
}

.item12>a>img {
    width: 132px;
    height: 51px;
    position: relative;
    top: -10px;
}

.item11>ul {
    display: inline-block;
    width: 500px;
    height: 60px;
    padding: 5px 0px 0px 20px;
}

.item11>ul>li {
    float: left;
    width: 90px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.item11>ul>li:hover a {
    color: #fe5341;
}

.item11>ul>li>a {
    color: #333;
}

.item13 {
    margin-top: 10px;
    float: right;
    width: 350px;
    display: flex;
    /* justify-content: space-around; */
    /* background-color: skyblue; */
}

.item13>div:nth-of-type(1) {
    width: 40px;
    height: 40px;
    background: url(../img/search.png) no-repeat 0px 10px;
    transition: transform 0.08s ease;
    cursor: pointer;
    margin-right: 50px;
}

.touxiang {
    height: 50px;
    display: none;
}

.touxiang>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.name {
    float: left;
    line-height: 50px;
    margin-left: 10px;
}

.item13>div:nth-of-type(1):hover {
    transform: scale(1.1);
}

.item13>a {
    display: block;
    border: 1px solid #fe5341;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 7px;
    border-radius: 3px;
    color: #fe5341;
}

.item13-login {
    margin: 0 15px;
}

.item13>a:hover {
    background: #fe5341;
    color: #ffff;
}

#clr {
    color: #fe5341;
}



/* 顶部banner图 */
.banner {
    width: 100%;
    height: 300px;
    background: url(../img/original.jpg) no-repeat center;
}

.banner-right {
    float: right;
    margin-right: 260px;
    animation: banner-right .5s ease;

}

@keyframes banner-right {
    0% {
        transform: translate(200px, -200px);
    }

    100% {
        transform: translate(0);
    }
}

.banner-right>p:nth-of-type(1) {
    font-size: 35px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 15px;

}

.banner-right>span {
    display: inline-block;
    padding: 8px 10px;
    background: rgba(255, 255, 255, .3);
    color: #ffffff;
}

.banner-right>span:nth-of-type(1) {
    margin-left: 80px;

}

.banner-right>span:nth-of-type(2) {
    /* margin-left: 100px; */
    margin: 0 10px;
}

.banner-right>p:nth-of-type(2) {
    font-size: 18px;
    color: #ffffff;
    margin: 15px 0;
    margin-left: 55px;
}


.banner-right>.apply {
    display: block;
    width: 242px;
    height: 48px;
    background-color: #fe5341;
    font-size: 25px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    margin-left: 82px;
}

/* 热门应用 */
.hot {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
    margin-left: 252px;
}

/* 轮播图 */
.swiper {
    width: 80%;
    /* height: 400px; */
    margin: auto;
    /* 设置Swiper风格 */
    --swiper-theme-color: #f6f2ef;
    /* 单独设置按钮颜色 */
    --swiper-navigation-color: #dfe5e0;
    /* 设置按钮大小 */
    --swiper-navigation-size: 80px;
    /* background-color: pink; */
    padding-bottom: 30px !important;
    position: relative;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.swiper-slide-one {
    width: 220px;
    height: 290px;
    /* background-color: skyblue; */
    margin-right: 45px;
    text-align: center;
    position: relative;
    border: 1px solid rgba(190, 187, 187, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.swiper-slide-one:nth-of-type(1) {
    margin-left: 45px;
}

.swiper-slide-one>img {
    width: 220px;
    height: 130px;
    border: 1px solid rgba(163, 161, 161, 0.5);
    border-radius: 5px;
}


/* 图片动画 */
.swiper-slide-one>img:hover {
    animation: donghua 1.5s linear infinite alternate;
}

@keyframes donghua {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}


.swiper-slide-one>h4 {
    text-indent: 6px;
}

.swiper-slide-one>span {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #fe5341;
    margin: 0 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.swiper-slide-one:nth-of-type(2)>span {
    border: 1px solid #80c269;
    color: #80c269;
}

.swiper-slide-one>p:nth-of-type(1)>span {
    color: #fe5341;
}

.swiper-slide-one>p:nth-of-type(2) {
    /* display: inline-block; */
    color: #fe5341;
}

.swiper-slide-one:nth-of-type(2)>p:nth-of-type(2) {
    color: #80c269;
}

.swiper-slide-one>p:nth-of-type(2) {
    margin-top: 10px;
}

.swiper-slide-one:hover {
    cursor: pointer;
}

.smallword1 {
    font-size: 12px;
    padding: 3px 8px;
    color: white;
    background-color: #fe5341;
    border-radius: 0px 5px 0px 5px;
    position: absolute;
    top: 1px;
    right: 2px;
}

.smallword2 {
    color: #c4a96a;
    background-color: #fbf4cb;
}


/* 报告精选 */
.baogao {
    width: 100%;
    /* height: 592px; */
    background-color: #f7f7f7;
    /* padding-bottom: 50px; */
    overflow: hidden;
}

.baogao-word>span {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
    margin-left: 252px;
    /* background-color: red; */
}

.baogao-word>a {
    font-size: 14px;
    color: #fe5341;
    float: right;
    margin: 15px 0;
    margin-right: 200px;
    padding-right: 80px;
    background: url(../img/readMore.png) no-repeat center;

}

.baogao-ul {
    width: 67%;
    margin: auto;
    /* height: 525px; */
    /* background-color: #80c269; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.baogao-ul>li {
    list-style: none;
    width: 220px;
    height: 240px;
    /* border: 1px solid rgba(219, 213, 213, 0.5); */
    border-radius: 5px;
    position: relative;
    /* z-index: 10 !important; */
    margin-bottom: 50px;
}

.baogao-ul>li>a {
    display: block;
    overflow: hidden;
    border: 1px solid rgba(219, 213, 213, 0.5);
}

.baogao-ul>li>a>img {
    width: 220px;
    height: 130px;
}


/* 图片动画 */
.baogao-ul>li>a>img:hover {
    animation: donghua 1.5s linear infinite alternate;
}

@keyframes donghua {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}


.baogao-ul>li>a>p>.susu {
    color: #a3a3a3;
    font-size: 13px;
    margin-left: 5px;

}

.baogao-ul>li>a>p:nth-of-type(1) {
    color: black;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
}

.baogao-ul>li>a>p:nth-of-type(2) {
    margin-top: 30px;
}

.baogao-ul>li>a>p>.san {
    margin-top: 4px;
    display: inline-block;
    font-size: 12px;
    float: right;
    /* margin-right: 20px; */
    background: url(../img/zan.png) no-repeat 7px 2px;
    padding-left: 20px;
}

.baogao-ul>li>a>p>.san:nth-of-type(2) {
    background: url(../img/reply.png) no-repeat 7px 2px;
    margin-right: 10px;
}

/* 导购精选 */
.daogao {
    background-color: white;
}

.daogao>ul>li>a {
    border-bottom: none;
}

/* 发现酷玩 */
.find {
    /* height: 1070px; */
    height: 297px;
    height: 347px;
    /* background-color: pink; */
    position: relative;
}

/* .find>.baogao-ul>li {
    border-bottom: 30px;
} */

.find-more {
    position: absolute;
    top: 295px;
    left: 700px;
    width: 100px;
    height: 200px;

    /* padding: 20px 0; */
    padding-left: 20px;
    background: url(../img/more.png) no-repeat 0px 25px;
    /* margin-bottom: 10px; */
}

.find-more:hover {
    cursor: pointer;
}

.find-more>p {
    color: #fe5341;
    font-size: 14px;
    line-height: 60px;
}

.find-p>span:nth-of-type(2) {
    font-size: 12px;
    color: #a3a3a3;
}

.find-susu {
    font-size: 14px !important;
    color: #fe5341 !important;
}

.find>.baogao-ul>li>a>p>.find-xin {
    background: url(../img/xin.png) no-repeat 7px 2px;
}




/* 底部 */
.footer {
    width: 100%;
    /* height: 500px; */
    background-color: #505050;
    padding-top: 20px;
}

.footer-box {
    width: 70%;
    margin: auto;
    height: 300px;
}

.footer-one {
    float: left;
    width: 160px;
    height: 160px;
    /* background-color: aqua; */
    margin-right: 10px;
    margin-top: 10px;
}

.footer-one>img {
    width: 160px;
    height: 160px;
}

.footer-two {
    float: left;
    width: 140px;
    height: 160px;
    /* background-color: red; */
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.footer-two>img {
    width: 121px;
    height: 46px;
}

.footer-two>p {
    font-size: 12px;
    color: #a3a3a3;

}

.footer-two>p:nth-of-type(1) {
    margin: 12px 0;
    font-size: 12px;
    color: #a3a3a3;
}

a {
    text-decoration: none;
}

dl {
    float: left;
    margin: 20px;
}

dt {
    /* text-indent: 40px; */
    margin-bottom: 10px;
    color: white;
}

dd>a {
    font-size: 12px;
    color: #a3a3a3;
}

.footer-banquan {
    color: #a3a3a3;
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}

/* 回到顶部 */
.fixed {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #e8e8e8;
    position: absolute;
    position: fixed;
    bottom: 40px;
    right: 100px;
    opacity: 0;
    border-radius: 5px;
    background: url(../img/back.png) no-repeat #e8e8e8 center;
}