* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.box1 {
  width: 100%;
  height: 70px;
  padding: 5px;
  box-shadow: 0 0 5px #cecfcf inset;
  box-sizing: border-box;
}
.box1 .item11 {
  width: 1000px;
  margin: auto;
}
.box1 .item11 .item12 {
  display: inline-block;
}
.box1 .item11 .item12 a img {
  width: 132px;
  height: 51px;
  position: relative;
  top: -10px;
}
.box1 .item11 ul {
  display: inline-block;
  width: 500px;
  height: 60px;
  padding: 5px 0px 0px 20px;
}
.box1 .item11 ul li {
  float: left;
  width: 90px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.box1 .item11 ul li a {
  color: #333;
}
.box1 .item11 ul li:hover a {
  color: #fe5341;
}
.box1 .item11 .item13 {
  margin-top: 10px;
  float: right;
  width: 100px;
  display: flex;
  justify-content: space-around;
}
.box1 .item11 .item13 div:nth-of-type(1) {
  width: 40px;
  height: 40px;
  background: url(../../img/search.png    ) no-repeat 0px 10px;
  transition: transform 0.08s ease;
  cursor: pointer;
}
.box1 .item11 .item13 div:nth-of-type(1):hover {
  transform: scale(1.1);
}
.box1 .item11 .item13 div:nth-of-type(2) {
  cursor: pointer;
  border: 1px solid #fe5341;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: 7px;
  border-radius: 3px;
  color: #fe5341;
}
.box1 .item11 .item13 div:nth-of-type(2):hover {
  background: #fe5341;
  color: #ffff;
}
#clr {
  color: #fe5341;
}
.box2 {
  width: 100%;
  background: #F7F7F7;
  padding-bottom: 20px;
}
.box2 .banxin {
  width: 1000px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  top: 0px;
}
.box2 .banxin .item21 {
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #cecfcf;
}
.box2 .banxin .item21 a {
  color: #cecfcf;
}
.box2 .banxin .item22 {
  width: 700px;
  background: #fff;
}
.box2 .banxin .item22 .item221 {
  padding: 24px;
  border-bottom: 1px solid #9999;
}
.box2 .banxin .item22 .item221 h1 {
  font-size: 26px;
  padding-bottom: 15px;
  font-weight: 400;
  color: #666;
}
.box2 .banxin .item22 .item221 div {
  line-height: 24px;
}
.box2 .banxin .item22 .item221 div span {
  font-size: 12px;
  color: #cecfcf;
}
.box2 .banxin .item22 .item221 div span img {
  width: 20px;
  height: 20px;
}
.box2 .banxin .item22 .item221 div span:nth-of-type(1) {
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
.box2 .banxin .item22 .item221 div span:nth-of-type(2) {
  float: right;
}
.box2 .banxin .item22 .item222 {
  padding: 24px;
}
.box2 .banxin .item22 .item222 p {
  font-size: 14px;
}
.box2 .banxin .item22 .item222 div {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.box2 .banxin .item22 .item222 a {
  font-size: 14px;
  color: #cecfcf;
  display: inline-block;
}
.box2 .banxin .item23 {
  width: 270px;
  height: 100px;
  position: absolute;
  top: 50px;
  right: 0px;
}
.box6 {
  width: 100%;
  height: 360px;
  overflow: hidden;
}
