* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.box1 {
  width: 100%;
  height: 70px;
  padding: 5px;
  box-shadow: 0 0 5px #cecfcf inset;
  box-sizing: border-box;
}
.box1 .item11 {
  width: 1000px;
  margin: auto;
}
.box1 .item11 .item12 {
  display: inline-block;
}
.box1 .item11 .item12 a img {
  width: 132px;
  height: 51px;
  position: relative;
  top: -10px;
}
.box1 .item11 ul {
  display: inline-block;
  width: 500px;
  height: 60px;
  padding: 5px 0px 0px 20px;
}
.box1 .item11 ul li {
  float: left;
  width: 90px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
.box1 .item11 ul li a {
  color: #333;
}
.box1 .item11 ul li:hover a {
  color: #fe5341;
}
.box1 .item11 .item13 {
  margin-top: 10px;
  float: right;
  width: 100px;
  display: flex;
  justify-content: space-around;
}
.box1 .item11 .item13 div:nth-of-type(1) {
  width: 40px;
  height: 40px;
  background: url(../../img/search.png    ) no-repeat 0px 10px;
  transition: transform 0.08s ease;
  cursor: pointer;
}
.box1 .item11 .item13 div:nth-of-type(1):hover {
  transform: scale(1.1);
}
.box1 .item11 .item13 div:nth-of-type(2) {
  cursor: pointer;
  border: 1px solid #fe5341;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: 7px;
  border-radius: 3px;
  color: #fe5341;
}
.box1 .item11 .item13 div:nth-of-type(2):hover {
  background: #fe5341;
  color: #ffff;
}
#clr {
  color: #fe5341;
}
