* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* .box1 {
    width: 100%;
    height: 60px;
    padding: 5px;
    box-shadow: 0 0 5px #cecfcf inset;
}

.item11 {
    width: 1000px;
    margin: auto;
}

.item12 {
    display: inline-block;
}

.item12>a>img {
    width: 132px;
    height: 51px;
    position: relative;
    top: -10px;
}

.item11>ul {
    display: inline-block;
    width: 500px;
    height: 60px;
    padding: 5px 0px 0px 20px;
}

.item11>ul>li {
    float: left;
    width: 90px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.item11>ul>li:hover a {
    color: #fe5341;
}

.item11>ul>li>a {
    color: #333;
}

.item13 {
    margin-top: 10px;
    float: right;
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.item13>div:nth-of-type(1) {
    width: 40px;
    height: 40px;
    background: url(./search.png) no-repeat 0px 10px;
    transition: transform 0.08s ease;
    cursor: pointer;
}

.item13>div:nth-of-type(1):hover {
    transform: scale(1.1);
}

.item13>div:nth-of-type(2) {
    cursor: pointer;
    border: 1px solid #fe5341;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 7px;
    border-radius: 3px;
    color: #fe5341;
}

.item13>div:nth-of-type(2):hover {
    background: #fe5341;
    color: #ffff;
}

#clr {
    color: #fe5341;
} */

/* 顶部导航栏 */
.box1 {
    width: 100%;
    height: 70px;
    padding: 5px;
    box-shadow: 0 0 5px #cecfcf inset;
    box-sizing: border-box;
}

.item11 {
    width: 1200px;
    margin: auto;
    /* background-color: #80c269; */
}

.item12 {
    display: inline-block;
}

.item12>a>img {
    width: 132px;
    height: 51px;
    position: relative;
    top: -10px;
}

.item11>ul {
    display: inline-block;
    width: 500px;
    height: 60px;
    padding: 5px 0px 0px 20px;
}

.item11>ul>li {
    float: left;
    width: 90px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.item11>ul>li:hover a {
    color: #fe5341;
}

.item11>ul>li>a {
    color: #333;
}

.item13 {
    margin-top: 10px;
    float: right;
    width: 350px;
    display: flex;
    /* justify-content: space-around; */
    /* background-color: skyblue; */
}

.item13>div:nth-of-type(1) {
    width: 40px;
    height: 40px;
    background: url(../img/search.png) no-repeat 0px 10px;
    transition: transform 0.08s ease;
    cursor: pointer;
    margin-right: 50px;
}

.touxiang {
    height: 50px;
    display: none;
}

.touxiang>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.name {
    float: left;
    line-height: 50px;
    margin-left: 10px;
}

.item13>div:nth-of-type(1):hover {
    transform: scale(1.1);
}

.item13>a {
    display: block;
    border: 1px solid #fe5341;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 7px;
    border-radius: 3px;
    color: #fe5341;
}

.item13-login {
    margin: 0 15px;
}

.item13>a:hover {
    background: #fe5341;
    color: #ffff;
}

#clr {
    color: #fe5341;
}



/* 大盒子 */
.box {
    width: 1000px;
    /* height: 3000px; */
    /* background-color: #2b7798fb; */
    margin: 0 auto;
    /* 边框重合，触发bfc机制 */
    overflow: hidden;
    background-color: #F7F7F7;
}

.box>h1 {
    font-size: 40px;
    margin: 50px 0 40px;
    color: #333;
    text-align: center;
    font-weight: 500;
}

/* 导航 排它法选项 */
.box>p {
    text-align: center;
}

.box>p>span {
    display: inline-block;
    /* height: 30px; */
    width: 156px;
    font-size: 18px;
}

.box>p>span:hover {
    cursor: pointer;
}

.AAA>.ptf2 {
    display: flex;
    justify-content: center;
}

.AAA>.ptf2>span {
    width: 165px;
    height: 50px;
    line-height: 50px;
    color: #a3a3a3;
    /* background-color: #b96363; */
    border-top: 1px solid #a3a3a3;

}

.AAA>.ptf2>span:hover {
    cursor: pointer;
}










/* 选中的样式 */
.spanColor {
    border-bottom: 5px solid #fe5341;
    color: #fe5341;
}

.spanColorA {
    color: black !important;
}

.AAA:nth-of-type(2) {
    display: none;
}


/* 主题内容 */
article {
    padding-top: 25px;
    width: 100%;
    height: 100%;
    /* background-color: #4cb0c2; */
}





/* 免费使用，大众试用（排它法左边）*/
article>.left {
    width: 100%;
    height: 100%;
    /* background-color: #35b5cb; */
    float: left;
    border-radius: 5px;
    /* display: none; */
}

article>.left>.articleUl2 {
    display: none;
}

article>.left>.articleUl3 {
    display: none;
}

article>.left>.articleUl4 {
    display: none;
}

article>.left>.articleUl5 {
    display: none;
}

article>.left>.articleUl6 {
    display: none;
}

article>.left>.articleUl7 {
    display: none;
}


article>.left>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article>.left>ul>li {
    width: 220px;
    height: 286px;
    background-color: white;
    overflow: hidden;
    /* margin: 0 30px 35px 0; */
    margin-bottom: 30px;
    border-radius: 5px;
}


article>.left>ul>li>.img>img {
    width: 220px;
    height: 130px;
}

article>.left>ul>li>.fontA>h2 {
    font-size: 16px;
    height: 42px;
}

article>.left>ul>li>.fontA>p {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

article>.left>ul>li>.fontA>p>span {
    width: 40px;
    height: 20px;
    /* background-color: #ebdede; */
    margin-left: 16px;
    border: 1px solid red;
}













/* 免费试用，体验师试用（排它法右边） */
article>.leftA {
    width: 100%;
    height: 100%;
    /* background-color: #35b5cb; */
    float: left;
    border-radius: 5px;
    display: none;
}

article>.leftA>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article>.leftA>ul>li {
    width: 220px;
    height: 286px;
    /* background-color: #df1a1a; */
    overflow: hidden;
    margin: 0 30px 35px 0;
    border-radius: 5px;
}


article>.leftA>ul>li>.img>img {
    width: 220px;
    height: 130px;
}

article>.leftA>ul>li>.fontA>h2 {
    font-size: 16px;
}

article>.leftA>ul>li>.fontA>p {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

article>.leftA>ul>li>.fontA>p>span {
    width: 40px;
    height: 20px;
    background-color: #8e1313;
    margin-left: 16px;
    border: 1px solid red;
}



@keyframes donghua {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

img:hover {
    animation: donghua 1.6s infinite alternate;
}



/* 底部 */
.footer {
    width: 100%;
    /* height: 500px; */
    background-color: #505050;
    padding-top: 20px;
}

.footer-box {
    width: 70%;
    margin: auto;
    height: 300px;
}

.footer-one {
    float: left;
    width: 160px;
    height: 160px;
    /* background-color: aqua; */
    margin-right: 10px;
    margin-top: 10px;
}

.footer-one>img {
    width: 160px;
    height: 160px;
}

.footer-two {
    float: left;
    width: 140px;
    height: 160px;
    /* background-color: red; */
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.footer-two>img {
    width: 121px;
    height: 46px;
}

.footer-two>p {
    font-size: 12px;
    color: #a3a3a3;

}

.footer-two>p:nth-of-type(1) {
    margin: 12px 0;
    font-size: 12px;
    color: #a3a3a3;
}

a {
    text-decoration: none;
}

dl {
    float: left;
    margin: 20px;
}

dt {
    /* text-indent: 40px; */
    margin-bottom: 10px;
    color: white;
}

dd>a {
    font-size: 12px;
    color: #a3a3a3;
}

.footer-banquan {
    color: #a3a3a3;
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}